[core]
editor = code
autocrlf = input
	excludesfile = /Users/andypukhalyk/.gitignore_global

[user]
	name = Andrii Pukhalyk
	email = pukhalyk1@gmail.com

[color "status"]
added = blue

[alias]
st = status -s
logg = log --all --decorate --oneline --graph
logl = log --oneline
conf = config --global
lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all


[diff]
	tool = vscode


[difftool "vscode"]
	cmd = code --wait --diff "$LOCAL" "$REMOTE"


[merge]
	tool = vscode

[mergetool]
prompt = true
keepBackup = false


[mergetool "vscode"]
	cmd = code --wait "$MERGED"
	trustExitCode = true
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/andypukhalyk/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/andypukhalyk/.stCommitMsg
